.Movie #i_lod {
    position: absolute;
    top: 48%;
    left: 48%;
    font-size: 12px;
    font-weight: 500;
}

.Movie #i_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Movie #i_top {
    display: inline-block;
    color: rgba(255, 132, 171, 70%);
    font-size: 40px;
    font-weight: bolder;
    margin: 20px;
    margin-bottom: 50px;
    width: 400px;
    padding: 10px;
    border-bottom: 2px solid;
    text-shadow: 0px 6px 2px  lightgray;
}

.Movie .i_mox {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    width: 400px;
    height: 260px;
    box-shadow: 0px 5px 10px 2px rgba(0,0,0,20%);
}

.Movie .i_fir {
    display: flex;
}

.Movie .i_tox {
    display: flex;
    flex-direction: column;
}

.Movie .i_gnr {
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
    color: gray;
    max-height: 80px;
}

.Movie .i_img {
    margin-top: -40px;
    display: flex;
    width: 150px;
    height: 225px;
    margin-right: 10px;
}

.Movie .i_tit {
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    margin: 5px;
}

.Movie .i_yr {
    text-align: right;
    width: 230px;
    margin: 5px;
    color: gray;
}

.Movie .i_sum {
    margin-top: 10px;
    padding: 5px;
    font-size: 12px;
    color: gray;
    height: 50px;
}

.Movie .i_mr {
    font-size: 10px;
}
